#info-h1 {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  font-weight: 400;
  font-size: 3em;
  text-decoration: underline solid 2px;
  margin-bottom: 25px;
  font-family: "Kalam", cursive;
  letter-spacing: 5px;
}

.info-section {
  display: flex;
  justify-content: center;
  gap: 5em;
  font-family: "Roboto", sans-serif;
}

.info-content {
  background-color: black;
  border-radius: 5px;
  color: white;
}
