#info-h1 {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  font-weight: 400;
  font-size: 3em;
  text-decoration: underline solid 2px;
  margin-bottom: 25px;
  font-family: "Kalam", cursive;
  letter-spacing: 5px;
}

.info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  border-top: solid white;
  background-color: #5d775c;
  color: #f1cfad;
}

.info-content {
  display: flex;
  justify-content: space-around;
  text-decoration: underline;
  gap: 2.5em;
  cursor: pointer;
}
